.card{
  border: none;
align-items: center;
}

.card-body{
  padding: 1rem;
  align-items: center;
}

.card-title{
  font-size: 1.25rem;
  text-align: center;
}

.buyProduct{
  align-items: center;
  color: black;
}


.buyIcon{
  
  align-items: center;
}
.card-text{
  text-align: center;
}

.text-center{
  font-size: 35px;
  font-weight: bold;
  
}




.card-img-top{
  width: 200px;
  height: 200px;
  align-items: center;

  
}

.imageUrl{
  width: 30px;
  height: 30px;
  margin-right: 100%;
 
}

.userLogin{
text-align: right;
}
